body { 
	margin: 0; 
	font-family: 'Lato', sans-serif;
}

canvas { width: 100%; height: 100% }
/* HEADING */
.header{
	height: 64px;
	width: 100%;
	color: #191919;
}
.header a {
	color: #191919;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none; 
}

#site_name{
	float:left;
	font-size: 32px;
	padding-top: 16px; /*(64-32)/2 == 16*/
	padding-left: 10%;
}

.site_nav{
	float:right;
	font-size: 22px;
	padding-top: 21px; /*(64-22)/2 == 21*/
	/*padding-left set in js in html body for dependency on window width*/
	text-align: right;
}
#docs{
	padding-right: 5%;
}

/* TEXTAREA */ 
#textarea {
	width: 100%;
	font-size: 16px; 
	bottom:0px;
	position: fixed;
	height: 3em;
	padding: 10px;
}
#textarea:focus { /*removes blue border*/
    outline: none;
}