#visualize{ color:#D05353;}

/*100% of window width*/
#selects-div{ position:fixed; width:100%; bottom: 70px;}

#wpi-select{}
#hook-select{}
#menu:hover ul li:hover ul{
	bottom:100%; /*drop up instead of dropdown*/
}

.selectric-scroll li:nth-child(1) {
    display:none;
}​
.selectric-wrapper{
	width:50%;
	float:left;
}
.selectric .label{
	font-size: 16px;
	text-align: center;
}
.selectric-scroll li{
	font-size: 14px;
	text-align: center;
}
/*other selectric customizations in selectric.css*/